name: Docker Image CI
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1 

    - name: Cleanup
      run: docker system prune --all --force --volumes

    - name: Happy Eyeballs
      run: wget -qO- 'https://github.com/tianon/pgp-happy-eyeballs/raw/master/hack-my-builds.sh' | bash

    - name: Build the Docker image
      run: docker build --tag beo-backend:$(date +%s) .

    - name: Show images
      run: docker images
